body {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url("../fonts/OpenSans_SemiCondensed-Light.woff") format("wolff"),
    url("../fonts/OpenSans_SemiCondensed-Light.woff2") format("wolff2"),
}
body {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("../fonts/OpenSans_SemiCondensed-Regular.woff") format("wolff"),
    url("../fonts/OpenSans_SemiCondensed-Regular.woff2") format("wolff2"),
}
body {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url("../fonts/OpenSans_SemiCondensed-SemiBold.woff") format("wolff"),
    url("../fonts/OpenSans_SemiCondensed-SemiBold.woff2") format("wolff2"),
}