.field {
  &__input {
    width: 100%;
    height: var(--input-heigth);
    padding: 15px 28px;
    outline: none;
    border: var(--border-input);
    border-radius: var(--border-radius-large);

    @include hover {
      border-color: var(--color-blue-hover);
      background-color: #71a7e220;
    }

    &:focus {
      border: 1px solid #0e3b6c;
      background-color: var(--color-light);
    }

    &--textarea {
      width: 100%;
      min-height: 140px;
      height: 100%;
      border-radius: 20px;

      @include mobile-s {
        min-height: 240px;
      }
    }
  }

  &__button {
    padding: 20px 67px;
    text-transform: uppercase;
    border-radius: var(--border-radius-large);
    align-self: flex-end;

    @include mobile-s {
      width: 290px;
    }
  }

  &__agreement {
    @include flex-center;

    column-gap: 8px;
    font-size: 12px;

    & a {
        text-decoration: underline;
        color: var(--color-blue-active);
    }
  }
}
