.header {
  padding-top: 30px;
  border: var(--border);

  @include tablet {
    padding-top: 20px;
  }

  @include mobile {
    padding-top: 15px;
  }

  &__inner {
    height: 80px;
    display: flex;
    align-items: flex-start;
    column-gap: 50px;

    @include desktop {
      column-gap: 35px;
      padding-inline: 30px;
      
    }

    @include tablet {
      column-gap: 25px;
      height: 60px;
    }

    @include mobile {
      column-gap: 7px;
      height: 55px;
    }

    @include mobile-s {
      padding-inline: 15px;
    }
  }

  &__menu {
    margin-left: auto;

    &-list {
      display: flex;
      align-items: center;
      column-gap: 50px;

      @include desktop {
        column-gap: 35px;
      }

      @include tablet {
        column-gap: 30px;
      }

      @include middle {
        column-gap: 25px;
      }

      @include mobile {
        justify-content: space-between;
      }
    }

    &-link {
      @include hover {
        color: var(--color-blue-hover);
      }

      position: relative;
      display: inline-flex;
      height: 40px;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      color: var(--color-dark);

      &:active {
        color: var(--color-blue);
        text-decoration: underline;
      }

      @include tablet {
        font-size: 14px;
      }

      @include middle {
        font-size: 13px;
      }
    }
  }

  &__button {
    padding: 15px 35px;

    @include tablet {
      padding: 10px 25px;
    }

    @include mobile {
      margin-left: auto;
    }
  }
}
