.hero {
  max-width: 530px;
  padding-block: 113px 134px;

  @include mobile {
    padding-block: 60px 80px;
  }

  @include mobile-s {
    padding-block: 30px 60px;
  }

  &__title {
    margin-bottom: 26px;

    @include mobile-s {
      margin-bottom: 15px;
    }
  }

  &__description {
    @include fluid-text(16, 16);
    @include mobile-s {
      margin-bottom: 15px;
    }

    margin-bottom: 34px;
    max-width: 470px;
    line-height: 1.5;
  }

  &__subscribe {
    position: relative;
    display: inline-block;
    row-gap: 14px;
  }

  &__subscribe-button {
    @include mobile-s {
      width: 290px;
    }
    
    padding: 19px 58px;
  }

  &__subscribe-secured-wrapper {
    position: absolute;
    bottom: -24px; /* Смещение вниз (под кнопку) */
    left: 50%;
    transform: translateX(-50%); /* Центрирование */
    white-space: nowrap; /* Чтобы текст не переносился */
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__subscribe-secured {
    @include fluid-text(11, 11);

    line-height: 1.5;
  }
}
