.join-us {
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include mobile {
      row-gap: 15px;
    }
  }

  &__body-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &--wrapper-agreement {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    align-self: flex-end;
  }
}
