.section {
  padding-block: 87px 160px;
  border-bottom: var(--border);

  &--hero {
    position: relative;
    padding-block: 0;
    width: 100%;
    height: 550px;
    background: url("../../images/images/hero/hero-bg.webp") center/cover
      no-repeat;
    border-bottom: none;

    @include mobile {
      background: none;
    }
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: 45px;

      @include mobile {
        margin-bottom: 15px;
      }
    }
  }

}
