.soc1als {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 32px;

    @include tablet {
      column-gap: 15px;
    }

    @include mobile-s {
      column-gap: 32px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    height: 30px;
  }

  &__icon path {
    @include hover {
      fill: var(--color-blue-hover);
    }
  }
}
