:root {
    --color-dark: #1C1C1C;
    --color-text: #787878;
    --color-gray-light: #6B6B6B;
    --color-border: #DADADA;
    --color-light: #fff;
    --color-blue: #3172B9;
    --color-blue-active: #3172B9;
    --color-blue-hover: #71A7E2;

    --border-input: 1px solid var(--color-border);
    --border: 1px solid #E4E4E4;
    --border-radius: 5px ;
    --border-radius-small: 3px ;
    --border-radius-large: 50px ;

    --font-family-base: "OpenSans", sans-serif;

    --container-width: 1170px;
    --container-padding-x: 15px;

    --input-heigth: 60px;

    --transition-duration: 0.2s;
}